<%= for participant <- @participants do %>
    <div class="participant">
      <img class="participant-thumb" src='<%= Map.get(participant, "image") |> Map.get("url") %>'/>
      <%= link Map.get(participant, "name"), to: participants_path(@conn, :show, Map.get(participant, "name")), class: "participant-link"%></p>
    </div>
<% end %>
