<script src="<%= static_path(@conn, "/js/app.js") %>"></script>
<script>var showParticipant = require('web/static/js/show_participant').ShowParticipant;</script>

<h2><%= Map.get(@participant, "name") %></h2>
<image class="participant-image" src="<%= image_url(@participant)%>"></image>
<div class="participant-description">
  <%= for [key, value] <- parse_description(@participant) do %>
    <p><span class="information-question"><%= key %>:</span> <%= value %></p>
  <% end %>
</div>
<div class="participant-videos"></div>
<button class="btn btn-default" id="loadVideosButton" onclick="showParticipant.loadVideos()">Visa fler videos</button>

<script>showParticipant.init('<%= Map.get(@participant, "person_tag") %>')</script>
