.participant-description {
    background-color: #dddddd;
    padding: 10px;
    margin: 5px 0px;
}

.participant-thumb {
    max-width: 100px;
}

.participant-link {
    font-size: 1.3em;
}

.participant-image {
    max-width: 400px;
}

.information-question {
    font-weight: bold;
}

.video-container {
    max-width: 500px;
    background-color: #ddddee;
    margin: 5px 0px;
    padding: 5px;
    border-radius: 5px;
}

.video-title {
    font-size: 1.2em;
}

.video-description {
    font-size: 0.9em;
}

.video-image {
    max-width: 400px;
}